.main{
    height: 48px;
    align-items: baseline;
}
.search{
    width: 502px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #121212;
    padding-top: 13px;
    padding-left: 436px;
    background-color: #FFFFFF;
}
.imgicon{
    width: 66px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #121212;
    background-color: #FFFFFF;
}
