.hero {
    width: 100%;
    background-color: #121212; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .heroimg {
    max-width: 100%;
    height: auto;
  }
  
  .herotext {
    text-align: center;
    color: white;
  }
  
  .hero-div h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .hero-div p {
    font-size: 1.5rem;
  }